<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Rubi.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>buildNumber</key>
			<string>10</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>760D68A519C4D383BE3002C49BEE0C4D6B7340F7</string>
				<key>dateExpires</key>
				<string>2023/06/11</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>10</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>760D68A519C4D383BE3002C49BEE0C4D6B7340F7</string>
						<key>dateExpires</key>
						<string>2023/06/11</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>24BSY9Z4H5</string>
						<key>name</key>
						<string>Harumi Sagawa</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>10</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>760D68A519C4D383BE3002C49BEE0C4D6B7340F7</string>
						<key>dateExpires</key>
						<string>2023/06/11</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>24BSY9Z4H5</string>
						<key>name</key>
						<string>Harumi Sagawa</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>10</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>760D68A519C4D383BE3002C49BEE0C4D6B7340F7</string>
						<key>dateExpires</key>
						<string>2023/06/11</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Sketch.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>24BSY9Z4H5</string>
						<key>name</key>
						<string>Harumi Sagawa</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>10</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>760D68A519C4D383BE3002C49BEE0C4D6B7340F7</string>
						<key>dateExpires</key>
						<string>2023/06/11</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyTesseract.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>24BSY9Z4H5</string>
						<key>name</key>
						<string>Harumi Sagawa</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.5</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>24BSY9Z4H5.harumidiv.Rubi</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>24BSY9Z4H5</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Rubi.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6af8ad8c-af9c-4718-81a9-c5b17eac6137</string>
				<key>dateExpires</key>
				<string>2023/06/11</string>
				<key>name</key>
				<string>Rubi</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>24BSY9Z4H5</string>
				<key>name</key>
				<string>Harumi Sagawa</string>
			</dict>
			<key>versionNumber</key>
			<string>2.0.5</string>
		</dict>
	</array>
</dict>
</plist>
